* {
    margin: 0;
    padding: 0;
}


#container {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}


#header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 20px;
}

#create{
    margin-left: 400px;
}

th, td {
    border: solid black;
    border-width: 2px;
    width: 200px;
    height:50px;
}